*{
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
}
body{
    /* height: 100vh;
    width: 100vw; */
    background-color: black;
}
main1{
    width: 20em;
    height: 25em;
    margin: 8em auto;
    border-radius: 2em;
    background-color: hsl(213, 19%, 18%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Overpass', sans-serif;
}
@media (max-width:1440px) and (min-width:720px) {
    main{
        width: 20em;
        height: 25em;
        margin: 10em auto;
        border-radius: 2em;
        
    }
}

@media (max-width:720px) and (min-width:500px) {
    main{
        width: 20em;
        height: 25em;
        margin: 6em auto;
        border-radius: 2em;
    }
}
@media (min-width:350px) and (max-width:500px) {
    main{
        width: 17em;
        height: 25em;
        margin: 5em auto;
        border-radius: 2em;
    }
    .content #heading{
        font-size: 1.3em;
        color:hsl(0, 0%, 100%);
    }
    .rating-circles{
        width: 1.5em;
        height: 1.5em;
        border-radius:50% ;
        border: none;
        color: hsl(217, 12%, 63%);
        font-size: 1.3em;
        background-color: hsl(216, 12%, 8%);
    }
}
.star{
    /* background-color: hsl(216, 12%, 54%); */
    background: url("/public/images/icon-star.svg");
    background-repeat: no-repeat;
    background-size:contain;
    width: 2em;
    height: 2em;
    /* border-radius: 50%; */
    margin:2em 0em 0em 2em;
}
.content{
    width: 80%;
    margin: 1em auto;
}
.content #heading{
    font-size: 1.7em;
    color:hsl(0, 0%, 100%);
}
.content #rating-text{
    margin-top: 1em;
    font-size: 1em;
    color: hsl(217, 12%, 63%);
}
.rating{
    /* background-color: aqua; */
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-around;
}
.rating-circles{
    width: 2em;
    height: 2em;
    border-radius:50% ;
    border: none;
    color: hsl(217, 12%, 63%);
    font-size: 1.3em;
    background-color: hsl(216, 12%, 8%);
}
.rating-circles:hover{
    background-color: hsl(217, 12%, 63%);
    color: aliceblue;
    cursor: pointer;
}
.btn{
    margin: 1em auto;
    width: 80%;
    color:aliceblue;
    background-color: hsl(25, 97%, 53%);
    height: 2em;
    border: none;
    border-radius: 2em;
    font-size: 1.5em;
}
.btn:hover{
    background-color: rgb(116, 238, 116);
    color: black;
    cursor: pointer;
}

main2{
    width: 20em;
    height: 30em;
    margin: 5em auto;
    font-family: 'Overpass', sans-serif;
        border-radius: 2em;
    background-color: hsl(213, 19%, 18%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
@media (max-width:1440px) and (min-width:720px) {
    main2{
        width: 20em;
        height: 27em;
        margin: 6em auto;
        border-radius: 2em;
        display: flex;
    flex-direction: column;
    justify-content: space-around;
    }
}

@media (max-width:720px) and (min-width:500px) {
    main2{
        width: 17em;
        height: 25em;
        margin: 5em auto;
        border-radius: 2em;
        display: flex;
    flex-direction: column;
    justify-content: space-around;
    }
}    
@media (max-width:500px) and (min-width:350px) {
    main2{
        width: 15em;
        height: 25em;
        margin: 5em auto;
        border-radius: 2em;
        display: flex;
    flex-direction: column;
    justify-content: space-around;
    }
}    
.image{
    height: 7em;
    width:10em;
    margin: 0em auto;
    background: url("/public/images/illustration-thank-you.svg");
    background-size: contain;
    background-repeat: no-repeat;
    /* background-color: aqua; */
}
.points{
    font-size: 1.4em;
    margin: 0em auto;
    border-radius: 1em;
    background-color: black;
    color: orange;
    width:80%;
    height: 2em;
    text-align: center;
    padding: 0.5em 0em 0em 0em;
}
.thank-you{
    margin: 0em auto 0em auto ;
    font-size: 2.4em;
    color: aliceblue;
}
.message{
    margin: 0em auto;
    text-align: center;
    width: 80%;
    font-size: 1.4em;
    color: hsl(217, 12%, 63%);
}